#  Données & Outputs
#data/GSCI_Data.xlsx
#output/*.png
#output/*.docx
#output/*.xlsx

# Notebook exécuté de test
#Projet_GSCI_2026_executed.ipynb

# Python
__pycache__/
*.py[cod]
*.pyo
.env
.venv/
env/

# Jupyter checkpoints
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db
